@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

/* css for Navber */
.nav_font{
   font-size: 16px;
   color: #3E3E3E;
}

 /* css for carousel */
 .carousel_button_text{
    font-size: 16px;
    color: #3F87F5;
 }
 .carousel_h1_text{
     font-size: 38px;
 }
 .carousel_p_text{
     font-size: 16px;
 }
